body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#chess-board {
  display: grid;
  grid-template-columns: repeat(8, 45px);
  grid-template-rows: repeat(8, 45px);
  border: 4px solid gold;
  box-shadow: 0 0 15px gold;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.light {
  background-color: #eee;
  color: black;
}

.dark {
  background-color: #333;
  color: white;
}

.highlight {
  outline: 3px solid red;
}